body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #525252;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000000;
    }

a { 
    color: #a3a3a3;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

nav {
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
}

    .evenrow {
    background-color: lightgray;

    h1 {font-size: 2em;}

    h2 {font-size: 1.5em;}
}
