body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #525252;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000000;
    }

a { 
    color: #525252;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    font-size: 1.5em;
    background-color: #ffffff;
    padding: 20px;
}

nav a {
    color: #525252;
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
}

nav a:hover {
    text-decoration: none;
    background-color: #50b142;
    color: #ffffff;
}

    .evenrow {
    background-color: lightgray;

    h1 {font-size: 2em;}

    h2 {font-size: 1.5em;}
}
