 <!DOCTYPE html>

<html lang="en">

<!--
em: Relative to font-size of the element (2em means 2 times the size of current font)
ex: Relative to the x-height of the current font (rarely used)
ch: Relative to the width of the "0" (zero)
rem: Relative to the font-size of the root element
vw: Relative to 1% of the width of the viewport
vh: Relative to 1% of the height of the viewport
vmin: Relative to 1% of the viewports smaller dimension
vmax: Relative to 1% of the viewports larger dimension
%: Relative to the parent element
-->

<head> 
    <meta charset="utf-8">
    <title>CSS Intro </title>
    <style>
        h1 {color:red;}
        p {
            font-family:Arial, Helvetica, sans-serif;
            font-size: 2em;
            font-weight: 900;
        }
        p, a {color: orange;}
        #numberone {color:black;}
    </style>
</head>

<body>
    <h1 id="numberone" Header> </h1>
    <h1 id="numbertwo" Header> </h1>

    <h2>Content goes <a href="https://syr.edu"> here.</a></h2>
    
    <p>Content goes <a href="https://syr.edu"> here.</a></p>
</body>

</html>