 <!DOCTYPE html>

<html lang="en">

<head> 
    <meta charset="utf-8">
    <title>Table</title>
</head>

<body>
    <h1>
        Table Example
    </h1>

    <p>
        <table>
            
            <caption>Calender</caption>

            <tr>
             <th>Date</th>
             <th>Location</th>
             <th>Agenda</th>
             <th>Minutes</th>
            </tr>

            <tr>
                <td>January 21</td>
                <td>Central Library</td>
                <td>View Agenda</td>
                <td>View Minutes</td>
            </tr>

            <tr>
                <td>Febuary 18</td>
                <td>Central Library</td>
                <td>View Agenda</td>
                <td>View Minutes</td>
            </tr>

            <tr>
                <td>March 18</td>
                <td>Central Library</td>
                <td>View Agenda</td>
                <td>View Minutes</td>
            </tr>

        </table> <br>

        <h1>Form</h1>

        <form methods="" actions="">
            <input type="text" id="fname" name="fname">
        </form>

    </p>
</body>

</html>