 <!DOCTYPE html>

<html lang="en">

<head> 
    <meta charset="utf-8">
    <title>Table</title>
</head>

<body>
    <h1>
        Table Example
    </h1>

    <p>
        <table>
            
            <caption>Calender</caption>

            <tr>
             <th>Date</th>
             <th>Location</th>
             <th>Agenda</th>
             <th>Minutes</th>
            </tr>

            <tr>
                <td>January 21</td>
                <td>Central Library</td>
                <td>View Agenda</td>
                <td>View Minutes</td>
            </tr>

            <tr>
                <td>Febuary 18</td>
                <td>Central Library</td>
                <td>View Agenda</td>
                <td>View Minutes</td>
            </tr>

            <tr>
                <td>March 18</td>
                <td>Central Library</td>
                <td>View Agenda</td>
                <td>View Minutes</td>
            </tr>

        </table> <br>

        <h1>Form</h1>

        <form methods="" actions="">

            <label for="fname">First Name: </label> <br>
            <input type="text" id="fname" name="fname"> <br>

            <label for="comments">Comments: </label> <br>
            <textarea id="comments" name="comments" rows="4" cols="50">Lorem Impsum.</textarea> <br>

            <p>
                Please select your age:
            </p>
            
            <input type="radio" id="age1" name="age" value="30">
            <label for="age1">0 - 30</label><br>
            <input type="radio" id="age2" name="age" value="60">
            <label for="age2">31 - 60</label><br>  
            <input type="radio" id="age3" name="age" value="100">
            <label for="age3">61 - 100</label>

            <input type="submit" value="send form">

        </form>

    </p>
</body>

</html>